{% extends 'catalog/base.html' %}

{% block content %}
        <div class="col-lg-3 col-md-6 col-sm-12">
            <div class="card mb-4 box-shadow">
                <div class="card-header">
                    <h4 class="my-0 font-weight-normal">Добавить продукт</h4>
                </div>
                <div class="card-body">
                    <form method="post" action="" class="form-floating">
                        {% csrf_token %}
                        <div class="mb-3">
                            <input type="text" name="name" class="form-control" id="name" placeholder="наименование" required>
                        </div>
                        <div class="mb-3">
                            <input type="text" name="descriptions" class="form-control" id="descriptions" placeholder="описание" required>
                        </div>
                        <div class="mb-3">
                            <input type="file" name="picture" accept="image/" class="form-control" id="picture" placeholder="изображение" required>
                        </div>
                        <div class="mb-3">
                            <input type="text" name="category" class="form-control" id="category" placeholder="категория" required>
                        </div>
                        <div class="mb-3">
                            <input type="text" name="price" class="form-control" id="price" placeholder="цена" required>
                        </div>
                        <div class="mb-3">
                            <input type="text" name="date_of_creation" class="form-control" id="date_of_creation" placeholder="дата создания" required>
                        </div>
                        <div class="mb-3">
                            <input type="text" name="last_modified_date" class="form-control" id="last_modified_date" placeholder="дата последнего изменения" required>
                        </div>
                         <button type="submit" class="btn btn-lg btn-block btn-outline-primary">Отправить</button>
                    </form>
                </div>
            </div>
{% endblock %}